# Lab8 ORM拓展

本章主要介绍 Python 使用 ORM 对 PostgreSQL 数据库进行多表连接，子查询，反向查询等一些操作，并且进行综合练习

## 预先准备

### 连接数据库

In [3]:
import sqlalchemy
from sqlalchemy import Column, String, create_engine, Integer, Text, Date
from sqlalchemy.orm import sessionmaker,scoped_session
from sqlalchemy.ext.declarative import declarative_base
import time
from sqlalchemy import create_engine
engine = create_engine("postgresql://ecnu10205501432:ECNU10205501432@172.16.253.154:5432/ecnu10205501432",
    max_overflow=0,
    # 链接池大小
    pool_size=5,
    # 链接池中没有可用链接则最多等待的秒数，超过该秒数后报错
    pool_timeout=10,
    # 多久之后对链接池中的链接进行一次回收
    pool_recycle=1,
    # 查看原生语句（未格式化）
    echo=True
)
Session = sessionmaker(bind=engine)
session = scoped_session(Session)
DbSession = sessionmaker(bind=engine)
session = DbSession()

### 创建数据表

In [4]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Enum,ForeignKey,UniqueConstraint
from sqlalchemy.orm import relationship
Base = declarative_base()

class StudentsNumberInfo(Base):
    """学号表"""
    __tablename__ = "studentsNumberInfo"
    id = Column(Integer, primary_key=True, autoincrement=True, comment="主键")
    number = Column(Integer, nullable=False, unique=True, comment="学生编号")
    admission = Column(Date, nullable=False, comment="入学时间")
    graduation = Column(Date, nullable=False, comment="毕业时间")

class TeachersInfo(Base):
    """教师表"""
    __tablename__ = "teachersInfo"
    id = Column(Integer, primary_key=True, autoincrement=True, comment="主键")
    number = Column(Integer, nullable=False, unique=True, comment="教师编号")
    name = Column(String(64), nullable=False, comment="教师姓名")
    gender = Column(String(1), nullable=False, comment="教师性别")
    age = Column(Integer, nullable=False, comment="教师年龄")
class ClassesInfo(Base):
    """班级表"""
    __tablename__ = "classesInfo"
    id = Column(Integer, primary_key=True, autoincrement=True, comment="主键")
    number = Column(Integer, nullable=False, unique=True, comment="班级编号")
    name = Column(String(64), nullable=False, unique=True, comment="班级名称")
    # 一对一关系必须为连接表的连接字段创建UNIQUE的约束，这样才能是一对一，否则是一对多
    fk_teacher_id = Column(
        Integer,
        ForeignKey(
            "teachersInfo.id",
            ondelete="CASCADE",
            onupdate="CASCADE",
        ),
        nullable=False,
        unique=True,
        comment="班级负责人"
    )
    # 下面这2个均属于逻辑字段，适用于正反向查询。在使用ORM的时候，我们不必每次都进行JOIN查询，而恰好正反向的查询使用频率会更高
    # 这种逻辑字段不会在物理层面上创建，它只适用于查询，本身不占据任何数据库的空间
    # sqlalchemy的正反向概念与Django有所不同，Django是外键字段在那边，那边就作为正
    # 而sqlalchemy是relationship字段在那边，那边就作为正
    # 比如班级表拥有 relationship 字段，而老师表不曾拥有
    # 那么用班级表的这个relationship字段查老师时，就称为正向查询
    # 反之，如果用老师来查班级，就称为反向查询
    # 另外对于这个逻辑字段而言，根据不同的表关系，创建的位置也不一样：
    #  - 1 TO 1：建立在任意一方均可，查询频率高的一方最好
    #  - 1 TO M：建立在M的一方
    #  - M TO M：中间表中建立2个逻辑字段，这样任意一方都可以先反向，再正向拿到另一方
    #  - 遵循一个原则，ForeignKey建立在那个表上，那个表上就建立relationship
    #  - 有几个ForeignKey，就建立几个relationship
    # 总而言之，使用ORM与原生SQL最直观的区别就是正反向查询能带来更高的代码编写效率，也更加简单
    # 甚至我们可以不用外键约束，只创建这种逻辑字段，让表与表之间的耦合度更低，但是这样要避免脏数据的产生
    # 班级负责人，这里是一对一关系，一个班级只有一个负责人
    leader_teacher = relationship(
        # 正向查询时所链接的表，当使用 classesInfo.leader_teacher 时，它将自动指向fk的那一条记录
        "TeachersInfo",
        # 反向查询时所链接的表，当使用 teachersInfo.leader_class 时，它将自动指向该老师所管理的班级
        backref="leader_class",
    )
class ClassesAndTeachersRelationship(Base):
    """任教老师与班级的关系表"""
    __tablename__ = "classesAndTeachersRelationship"
    id = Column(Integer, primary_key=True, autoincrement=True, comment="主键")
    # 中间表中注意不要设置单列的UNIQUE约束，否则就会变为一对一
    fk_teacher_id = Column(
        Integer,
        ForeignKey(
            "teachersInfo.id",
            ondelete="CASCADE",
            onupdate="CASCADE",
        ),
        nullable=False,
        comment="教师记录"
    )
    fk_class_id = Column(
        Integer,
        ForeignKey(
            "classesInfo.id",
            ondelete="CASCADE",
            onupdate="CASCADE",
        ),
        nullable=False,
        comment="班级记录"
    )
    # 多对多关系的中间表必须使用联合唯一约束，防止出现重复数据
    __table_args__ = (
        UniqueConstraint("fk_teacher_id", "fk_class_id"),
    )
    # 逻辑字段
    # 给班级用的，查看所有任教老师
    mid_to_teacher = relationship(
        "TeachersInfo",
        backref="mid",
    )
    # 给老师用的，查看所有任教班级
    mid_to_class = relationship(
        "ClassesInfo",
        backref="mid"
    )
class StudentsInfo(Base):
    """学生信息表"""
    __tablename__ = "studentsInfo"
    id = Column(Integer, primary_key=True, autoincrement=True, comment="主键")
    name = Column(String(64), nullable=False, comment="学生姓名")
    gender = Column(String(1), nullable=False, comment="学生性别")
    age = Column(Integer, nullable=False, comment="学生年龄")
    # 外键约束
    # 一对一关系必须为连接表的连接字段创建UNIQUE的约束，这样才能是一对一，否则是一对多
    fk_student_id = Column(
        Integer,
        ForeignKey(
            "studentsNumberInfo.id",
            ondelete="CASCADE",
            onupdate="CASCADE"
        ),
        nullable=False,
        comment="学生编号"
    )
    # 相比于一对一，连接表的连接字段不用UNIQUE约束即为多对一关系
    fk_class_id = Column(
        Integer,
        ForeignKey(
            "classesInfo.id",
            ondelete="CASCADE",
            onupdate="CASCADE"
        ),
        comment="班级编号"
    )
    # 逻辑字段
    # 所在班级, 这里是一对多关系，一个班级中可以有多名学生
    from_class = relationship(
        "ClassesInfo",
        backref="have_student",
    )
    # 学生学号，这里是一对一关系，一个学生只能拥有一个学号
    number_info = relationship(
        "StudentsNumberInfo",
        backref="student_info",
    )
if __name__ == "__main__":
    # 删除表
    Base.metadata.drop_all(engine)
    # 创建表
    Base.metadata.create_all(engine)

/tmp/ipykernel_87/3227781301.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

2023-11-23 05:10:57,902 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-11-23 05:10:57,903 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-23 05:10:57,908 INFO sqlalchemy.engine.Engine select current_schema()
2023-11-23 05:10:57,908 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-23 05:10:57,958 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-11-23 05:10:57,959 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-23 05:10:57,960 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-23 05:10:57,964 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-11-23 05:10:57,965 INFO sqlalchemy.engine.Engine [generated in 0.00070s] {'table_name': 'studentsNumberInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-11-23 05:10:58,000 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-11-23 05:10:58,000 INFO sqlalchemy.engine.Engine [cached since 0.0363s ago] {'table_name': 'teachersInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-11-23 05:10:58,002 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-11-23 05:10:58,002 INFO sqlalchemy.engine.Engine [cached since 0.03819s ago] {'table_name': 'classesInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-11-23 05:10:58,003 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-11-23 05:10:58,004 INFO sqlalchemy.engine.Engine [cached since 0.04007s ago] {'table_name': 'classesAndTeachersRelationship', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-11-23 05:10:58,005 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-11-23 05:10:58,006 INFO sqlalchemy.engine.Engine [cached since 0.04194s ago] {'table_name': 'studentsInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-11-23 05:10:58,007 INFO sqlalchemy.engine.Engine COMMIT
2023-11-23 05:10:58,008 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-23 05:10:58,009 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-11-23 05:10:58,009 INFO sqlalchemy.engine.Engine [cached since 0.04528s ago] {'table_name': 'studentsNumberInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-11-23 05:10:58,011 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-11-23 05:10:58,011 INFO sqlalchemy.engine.Engine [cached since 0.04734s ago] {'table_name': 'teachersInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-11-23 05:10:58,013 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-11-23 05:10:58,013 INFO sqlalchemy.engine.Engine [cached since 0.04929s ago] {'table_name': 'classesInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-11-23 05:10:58,014 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-11-23 05:10:58,015 INFO sqlalchemy.engine.Engine [cached since 0.05111s ago] {'table_name': 'classesAndTeachersRelationship', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-11-23 05:10:58,016 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-11-23 05:10:58,017 INFO sqlalchemy.engine.Engine [cached since 0.05349s ago] {'table_name': 'studentsInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-11-23 05:10:58,019 INFO sqlalchemy.engine.Engine
CREATE TABLE "studentsNumberInfo" (
	id SERIAL NOT NULL,
	number INTEGER NOT NULL,
	admission DATE NOT NULL,
	graduation DATE NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (number)
)


2023-11-23 05:10:58,020 INFO sqlalchemy.engine.Engine [no key 0.00059s] {}
2023-11-23 05:10:58,191 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsNumberInfo".id IS '主键'
2023-11-23 05:10:58,191 INFO sqlalchemy.engine.Engine [no key 0.00066s] {}
2023-11-23 05:10:58,312 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsNumberInfo".number IS '学生编号'
2023-11-23 05:10:58,312 INFO sqlalchemy.engine.Engine [no key 0.00063s] {}
2023-11-23 05:10:58,317 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsNumberInfo".admission IS '入学时间'
2023-11-23 05:10:58,317 INFO sqlalchemy.engine.Engine [no key 0.00054s] {}
2023-11-23 05:10:58,319 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsNumberInfo".graduation IS '毕业时间'
2023-11-23 05:10:58,319 INFO sqlalchemy.engine.Engine [no key 0.00052s] {}
2023-11-23 05:10:58,321 INFO sqlalchemy.engine.Engine
CREATE TABLE "teachersInfo" (
	id SERIAL NOT NULL,
	number INTEGER NOT NULL,
	name VARCHAR(64) NOT NULL,
	gender VARCHAR(1) NOT NULL,
	age INTEGER NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (number)
)


2023-11-23 05:10:58,321 INFO sqlalchemy.engine.Engine [no key 0.00054s] {}
2023-11-23 05:10:58,399 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "teachersInfo".id IS '主键'
2023-11-23 05:10:58,400 INFO sqlalchemy.engine.Engine [no key 0.00053s] {}
2023-11-23 05:10:58,401 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "teachersInfo".number IS '教师编号'
2023-11-23 05:10:58,401 INFO sqlalchemy.engine.Engine [no key 0.00051s] {}
2023-11-23 05:10:58,402 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "teachersInfo".name IS '教师姓名'
2023-11-23 05:10:58,403 INFO sqlalchemy.engine.Engine [no key 0.00049s] {}
2023-11-23 05:10:58,404 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "teachersInfo".gender IS '教师性别'
2023-11-23 05:10:58,404 INFO sqlalchemy.engine.Engine [no key 0.00053s] {}
2023-11-23 05:10:58,405 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "teachersInfo".age IS '教师年龄'
2023-11-23 05:10:58,407 INFO sqlalchemy.engine.Engine [no key 0.00140s] {}
2023-11-23 05:10:58,408 INFO sqlalchemy.engine.Engine
CREATE TABLE "classesInfo" (
	id SERIAL NOT NULL,
	number INTEGER NOT NULL,
	name VARCHAR(64) NOT NULL,
	fk_teacher_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (number),
	UNIQUE (name),
	UNIQUE (fk_teacher_id),
	FOREIGN KEY(fk_teacher_id) REFERENCES "teachersInfo" (id) ON DELETE CASCADE ON UPDATE CASCADE
)


2023-11-23 05:10:58,408 INFO sqlalchemy.engine.Engine [no key 0.00056s] {}
2023-11-23 05:10:58,778 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesInfo".id IS '主键'
2023-11-23 05:10:58,779 INFO sqlalchemy.engine.Engine [no key 0.00080s] {}
2023-11-23 05:10:58,780 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesInfo".number IS '班级编号'
2023-11-23 05:10:58,781 INFO sqlalchemy.engine.Engine [no key 0.00093s] {}
2023-11-23 05:10:58,782 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesInfo".name IS '班级名称'
2023-11-23 05:10:58,783 INFO sqlalchemy.engine.Engine [no key 0.00064s] {}
2023-11-23 05:10:58,784 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesInfo".fk_teacher_id IS '班级负责人'
2023-11-23 05:10:58,785 INFO sqlalchemy.engine.Engine [no key 0.00054s] {}
2023-11-23 05:10:58,786 INFO sqlalchemy.engine.Engine
CREATE TABLE "classesAndTeachersRelationship" (
	id SERIAL NOT NULL,
	fk_teacher_id INTEGER NOT NULL,
	fk_class_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (fk_teacher_id, fk_class_id),
	FOREIGN KEY(fk_teacher_id) REFERENCES "teachersInfo" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY(fk_class_id) REFERENCES "classesInfo" (id) ON DELETE CASCADE ON UPDATE CASCADE
)


2023-11-23 05:10:58,787 INFO sqlalchemy.engine.Engine [no key 0.00082s] {}
2023-11-23 05:10:58,869 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesAndTeachersRelationship".id IS '主键'
2023-11-23 05:10:58,869 INFO sqlalchemy.engine.Engine [no key 0.00055s] {}
2023-11-23 05:10:58,870 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesAndTeachersRelationship".fk_teacher_id IS '教师记录'
2023-11-23 05:10:58,871 INFO sqlalchemy.engine.Engine [no key 0.00054s] {}
2023-11-23 05:10:58,872 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesAndTeachersRelationship".fk_class_id IS '班级记录'
2023-11-23 05:10:58,872 INFO sqlalchemy.engine.Engine [no key 0.00054s] {}
2023-11-23 05:10:58,874 INFO sqlalchemy.engine.Engine
CREATE TABLE "studentsInfo" (
	id SERIAL NOT NULL,
	name VARCHAR(64) NOT NULL,
	gender VARCHAR(1) NOT NULL,
	age INTEGER NOT NULL,
	fk_student_id INTEGER NOT NULL,
	fk_class_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(fk_student_id) REFERENCES "studentsNumberInfo" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY(fk_class_id) REFERENCES "classesInfo" (id) ON DELETE CASCADE ON UPDATE CASCADE
)


2023-11-23 05:10:58,875 INFO sqlalchemy.engine.Engine [no key 0.00076s] {}
2023-11-23 05:10:58,928 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsInfo".id IS '主键'
2023-11-23 05:10:58,929 INFO sqlalchemy.engine.Engine [no key 0.00054s] {}
2023-11-23 05:10:58,930 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsInfo".name IS '学生姓名'
2023-11-23 05:10:58,931 INFO sqlalchemy.engine.Engine [no key 0.00064s] {}
2023-11-23 05:10:58,932 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsInfo".gender IS '学生性别'
2023-11-23 05:10:58,932 INFO sqlalchemy.engine.Engine [no key 0.00061s] {}
2023-11-23 05:10:58,933 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsInfo".age IS '学生年龄'
2023-11-23 05:10:58,934 INFO sqlalchemy.engine.Engine [no key 0.00058s] {}
2023-11-23 05:10:58,936 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsInfo".fk_student_id IS '学生编号'
2023-11-23 05:10:58,936 INFO sqlalchemy.engine.Engine [no key 0.00056s] {}
2023-11-23 05:10:58,938 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsInfo".fk_class_id IS '班级编号'
2023-11-23 05:10:58,938 INFO sqlalchemy.engine.Engine [no key 0.00054s] {}
2023-11-23 05:10:58,939 INFO sqlalchemy.engine.Engine COMMIT

### 插入数据

In [5]:
import datetime
session.add_all(
    (
        # 插入学号表数据
        StudentsNumberInfo(
            number=160201,
            admission=datetime.datetime.date(datetime.datetime(2016, 9, 1)),
            graduation=datetime.datetime.date(datetime.datetime(2021, 6, 15))
        ),
        StudentsNumberInfo(
            number=160101,
            admission=datetime.datetime.date(datetime.datetime(2016, 9, 1)),
            graduation=datetime.datetime.date(datetime.datetime(2021, 6, 15))
        ),
        StudentsNumberInfo(
            number=160301,
            admission=datetime.datetime.date(datetime.datetime(2016, 9, 1)),
            graduation=datetime.datetime.date(datetime.datetime(2021, 6, 15))
        ),
        StudentsNumberInfo(
            number=160102,
            admission=datetime.datetime.date(datetime.datetime(2016, 9, 1)),
            graduation=datetime.datetime.date(datetime.datetime(2021, 6, 15))
        ),
        StudentsNumberInfo(
            number=160302,
            admission=datetime.datetime.date(datetime.datetime(2016, 9, 1)),
            graduation=datetime.datetime.date(datetime.datetime(2021, 6, 15))
        ),
        StudentsNumberInfo(
            number=160202,
            admission=datetime.datetime.date(datetime.datetime(2016, 9, 1)),
            graduation=datetime.datetime.date(datetime.datetime(2021, 6, 15))
        ),
        # 插入教师表数据
        TeachersInfo(
            number=3341, name="David", gender="m", age=32,
        ),
        TeachersInfo(
            number=3342, name="Jason", gender="m", age=30,
        ),
        TeachersInfo(
            number=3343, name="Lisa", gender="f", age=28,
        ),
        # 插入班级表数据
        ClassesInfo(
            number=1601, name="one year one class", fk_teacher_id=1
        ),
        ClassesInfo(
            number=1602, name="one year two class", fk_teacher_id=2
        ),
        ClassesInfo(
            number=1603, name="one year three class", fk_teacher_id=3
        ),
        # 插入中间表数据
        ClassesAndTeachersRelationship(
            fk_class_id=1, fk_teacher_id=1
        ),
        ClassesAndTeachersRelationship(
            fk_class_id=2, fk_teacher_id=1
        ),
        ClassesAndTeachersRelationship(
            fk_class_id=3, fk_teacher_id=1
        ),
        ClassesAndTeachersRelationship(
            fk_class_id=1, fk_teacher_id=2
        ),
        ClassesAndTeachersRelationship(
            fk_class_id=3, fk_teacher_id=3
        ),
        # 插入学生表数据
        StudentsInfo(
            name="Jack", gender="m", age=17, fk_student_id=1, fk_class_id=2
        ),
        StudentsInfo(
            name="Tom", gender="m", age=18, fk_student_id=2, fk_class_id=1
        ),
        StudentsInfo(
            name="Mary", gender="f", age=16, fk_student_id=3,
            fk_class_id=3
        ),
        StudentsInfo(
            name="Anna", gender="f", age=17, fk_student_id=4,
            fk_class_id=1
        ),
        StudentsInfo(
            name="Bobby", gender="m", age=18, fk_student_id=6, fk_class_id=2
        ),
    )
)
session.commit()
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2023-11-23 05:11:33,031 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-23 05:11:33,033 INFO sqlalchemy.engine.Engine INSERT INTO "studentsNumberInfo" (number, admission, graduation) VALUES (%(number__0)s, %(admission__0)s, %(graduation__0)s), (%(number__1)s, %(admission__1)s, %(graduation__1)s), (%(number__2)s, %(admission__2)s, %(graduation__2)s), (%(number__3)s, %(admission__3)s, %(graduation__3)s), (%(number__4)s, %(admission__4)s, %(graduation__4)s), (%(number__5)s, %(admission__5)s, %(graduation__5)s) RETURNING "studentsNumberInfo".id
2023-11-23 05:11:33,034 INFO sqlalchemy.engine.Engine [generated in 0.00009s (insertmanyvalues)] {'graduation__0': datetime.date(2021, 6, 15), 'number__0': 160201, 'admission__0': datetime.date(2016, 9, 1), 'graduation__1': datetime.date(2021, 6, 15), 'number__1': 160101, 'admission__1': datetime.date(2016, 9, 1), 'graduation__2': datetime.date(2021, 6, 15), 'number__2': 160301, 'admission__2': datetime.date(2016, 9, 1), 'graduation__3': datetime.date(2021, 6, 15), 'number__3': 160102, 'admission__3': datetime.date(2016, 9, 1), 'graduation__4': datetime.date(2021, 6, 15), 'number__4': 160302, 'admission__4': datetime.date(2016, 9, 1), 'graduation__5': datetime.date(2021, 6, 15), 'number__5': 160202, 'admission__5': datetime.date(2016, 9, 1)}
2023-11-23 05:11:33,057 INFO sqlalchemy.engine.Engine INSERT INTO "teachersInfo" (number, name, gender, age) VALUES (%(number__0)s, %(name__0)s, %(gender__0)s, %(age__0)s), (%(number__1)s, %(name__1)s, %(gender__1)s, %(age__1)s), (%(number__2)s, %(name__2)s, %(gender__2)s, %(age__2)s) RETURNING "teachersInfo".id
2023-11-23 05:11:33,057 INFO sqlalchemy.engine.Engine [generated in 0.00006s (insertmanyvalues)] {'age__0': 32, 'number__0': 3341, 'name__0': 'David', 'gender__0': 'm', 'age__1': 30, 'number__1': 3342, 'name__1': 'Jason', 'gender__1': 'm', 'age__2': 28, 'number__2': 3343, 'name__2': 'Lisa', 'gender__2': 'f'}
2023-11-23 05:11:33,080 INFO sqlalchemy.engine.Engine INSERT INTO "classesInfo" (number, name, fk_teacher_id) VALUES (%(number__0)s, %(name__0)s, %(fk_teacher_id__0)s), (%(number__1)s, %(name__1)s, %(fk_teacher_id__1)s), (%(number__2)s, %(name__2)s, %(fk_teacher_id__2)s) RETURNING "classesInfo".id
2023-11-23 05:11:33,081 INFO sqlalchemy.engine.Engine [generated in 0.00007s (insertmanyvalues)] {'fk_teacher_id__0': 1, 'number__0': 1601, 'name__0': 'one year one class', 'fk_teacher_id__1': 2, 'number__1': 1602, 'name__1': 'one year two class', 'fk_teacher_id__2': 3, 'number__2': 1603, 'name__2': 'one year three class'}
2023-11-23 05:11:33,121 INFO sqlalchemy.engine.Engine INSERT INTO "classesAndTeachersRelationship" (fk_teacher_id, fk_class_id) VALUES (%(fk_teacher_id__0)s, %(fk_class_id__0)s), (%(fk_teacher_id__1)s, %(fk_class_id__1)s), (%(fk_teacher_id__2)s, %(fk_class_id__2)s), (%(fk_teacher_id__3)s, %(fk_class_id__3)s), (%(fk_teacher_id__4)s, %(fk_class_id__4)s) RETURNING "classesAndTeachersRelationship".id
2023-11-23 05:11:33,122 INFO sqlalchemy.engine.Engine [generated in 0.00007s (insertmanyvalues)] {'fk_class_id__0': 1, 'fk_teacher_id__0': 1, 'fk_class_id__1': 2, 'fk_teacher_id__1': 1, 'fk_class_id__2': 3, 'fk_teacher_id__2': 1, 'fk_class_id__3': 1, 'fk_teacher_id__3': 2, 'fk_class_id__4': 3, 'fk_teacher_id__4': 3}
2023-11-23 05:11:33,145 INFO sqlalchemy.engine.Engine INSERT INTO "studentsInfo" (name, gender, age, fk_student_id, fk_class_id) VALUES (%(name__0)s, %(gender__0)s, %(age__0)s, %(fk_student_id__0)s, %(fk_class_id__0)s), (%(name__1)s, %(gender__1)s, %(age__1)s, %(fk_student_id__1)s, %(fk_class_id__1)s),  ... 178 characters truncated ... )s, %(gender__4)s, %(age__4)s, %(fk_student_id__4)s, %(fk_class_id__4)s) RETURNING "studentsInfo".id
2023-11-23 05:11:33,146 INFO sqlalchemy.engine.Engine [generated in 0.00010s (insertmanyvalues)] {'fk_class_id__0': 2, 'name__0': 'Jack', 'gender__0': 'm', 'fk_student_id__0': 1, 'age__0': 17, 'fk_class_id__1': 1, 'name__1': 'Tom', 'gender__1': 'm', 'fk_student_id__1': 2, 'age__1': 18, 'fk_class_id__2': 3, 'name__2': 'Mary', 'gender__2': 'f', 'fk_student_id__2': 3, 'age__2': 16, 'fk_class_id__3': 1, 'name__3': 'Anna', 'gender__3': 'f', 'fk_student_id__3': 4, 'age__3': 17, 'fk_class_id__4': 2, 'name__4': 'Bobby', 'gender__4': 'm', 'fk_student_id__4': 6, 'age__4': 18}
2023-11-23 05:11:33,164 INFO sqlalchemy.engine.Engine COMMIT

## JOIN

In [6]:
Session = sessionmaker(bind=engine)
session = scoped_session(Session)
result = session.query(
    StudentsInfo.name,
    StudentsNumberInfo.number,
    ClassesInfo.number
).join(
    StudentsNumberInfo,
    StudentsInfo.fk_student_id == StudentsNumberInfo.id
).join(
    ClassesInfo,
    StudentsInfo.fk_class_id == ClassesInfo.id
).all()
print(result)
# [('Jack', 160201, 1602), ('Tom', 160101, 1601), ('Mary', 160301, 1603), ('Anna', 160102, 1601), ('Bobby', 160202, 1602)]
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2023-11-23 05:11:39,308 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-23 05:11:39,310 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".name AS "studentsInfo_name", "studentsNumberInfo".number AS "studentsNumberInfo_number", "classesInfo".number AS "classesInfo_number"
FROM "studentsInfo" JOIN "studentsNumberInfo" ON "studentsInfo".fk_student_id = "studentsNumberInfo".id JOIN "classesInfo" ON "studentsInfo".fk_class_id = "classesInfo".id
2023-11-23 05:11:39,311 INFO sqlalchemy.engine.Engine [generated in 0.00070s] {}
[('Jack', 160201, 1602), ('Tom', 160101, 1601), ('Mary', 160301, 1603), ('Anna', 160102, 1601), ('Bobby', 160202, 1602)]
2023-11-23 05:11:39,356 INFO sqlalchemy.engine.Engine ROLLBACK

### LEFT JOIN

left join只需要在每个JOIN中指定isouter关键字参数为True即可：

session.query(
    左表.字段,
    右表.字段
)
.join(
    右表,
    链接条件,
    isouter=True
).all()

### RIGHT JOIN

需要换表的位置，SQLALchemy本身并未提供RIGHT JOIN，所以使用时一定要注意驱动顺序，小表驱动大表：

session.query(
    左表.字段,
    右表.字段
)
.join(
    左表,
    链接条件,
    isouter=True
).all()

## 子查询

子查询使用subquery()实现，如下所示，查询每个班级中年龄最小的人：

In [7]:
# 获取链接池、ORM表对象
from sqlalchemy import func
# 子查询中所有字段的访问都需要加上c的前缀
# 如 sub_query.c.id、 sub_query.c.name等
sub_query = session.query(
    # 使用label()来为字段AS一个别名
    # 后续访问需要通过sub_query.c.alias进行访问
    func.min(StudentsInfo.age).label("min_age"),
    ClassesInfo.id,
    ClassesInfo.name
).join(
    ClassesInfo,
    StudentsInfo.fk_class_id == ClassesInfo.id
).group_by(
    ClassesInfo.id
).subquery()

result = session.query(
    StudentsInfo.name,
    sub_query.c.min_age,
    sub_query.c.name
).join(
    sub_query,
    sub_query.c.id == StudentsInfo.fk_class_id
).filter(
   sub_query.c.min_age == StudentsInfo.age
)

print(result.all())
# [('Jack', 17, 'one year two class'), ('Mary', 16, 'one year three class'), ('Anna', 17, 'one year one class')]

# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2023-11-23 05:11:42,988 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-23 05:11:42,991 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".name AS "studentsInfo_name", anon_1.min_age AS anon_1_min_age, anon_1.name AS anon_1_name
FROM "studentsInfo" JOIN (SELECT min("studentsInfo".age) AS min_age, "classesInfo".id AS id, "classesInfo".name AS name
FROM "studentsInfo" JOIN "classesInfo" ON "studentsInfo".fk_class_id = "classesInfo".id GROUP BY "classesInfo".id) AS anon_1 ON anon_1.id = "studentsInfo".fk_class_id
WHERE anon_1.min_age = "studentsInfo".age
2023-11-23 05:11:42,991 INFO sqlalchemy.engine.Engine [generated in 0.00072s] {}
[('Jack', 17, 'one year two class'), ('Mary', 16, 'one year three class'), ('Anna', 17, 'one year one class')]
2023-11-23 05:11:43,086 INFO sqlalchemy.engine.Engine ROLLBACK

## 正反查询

上面我们都是通过JOIN进行查询的，实际上我们也可以通过逻辑字段relationship进行查询。

### 正向查询

下面是正向查询的示例，正向查询是指从有relationship逻辑字段的表开始查询：

In [8]:
# 查询所有学生的所在班级，我们可以通过学生的from_class字段拿到其所在班级
# 另外，对于学生来说，班级只能有一个，所以have_student应当是一个对象
# 获取链接池、ORM表对象
students_lst = session.query(
    StudentsInfo
).all()
for row in students_lst:
    print(f"""
            student name : {row.name}
            from : {row.from_class.name}
          """)
# student name : Mary
# from : one year three class
# student name : Anna
# from : one year one class
# student name : Bobby
# from : one year two class
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2023-11-23 05:11:45,004 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-23 05:11:45,005 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
2023-11-23 05:11:45,006 INFO sqlalchemy.engine.Engine [generated in 0.00067s] {}
2023-11-23 05:11:45,015 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
WHERE "classesInfo".id = %(pk_1)s
2023-11-23 05:11:45,016 INFO sqlalchemy.engine.Engine [generated in 0.00067s] {'pk_1': 2}

            student name : Jack
            from : one year two class

2023-11-23 05:11:45,030 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
WHERE "classesInfo".id = %(pk_1)s
2023-11-23 05:11:45,031 INFO sqlalchemy.engine.Engine [cached since 0.01561s ago] {'pk_1': 1}

            student name : Tom
            from : one year one class

2023-11-23 05:11:45,033 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
WHERE "classesInfo".id = %(pk_1)s
2023-11-23 05:11:45,033 INFO sqlalchemy.engine.Engine [cached since 0.01764s ago] {'pk_1': 3}

            student name : Mary
            from : one year three class


            student name : Anna
            from : one year one class


            student name : Bobby
            from : one year two class

2023-11-23 05:11:45,035 INFO sqlalchemy.engine.Engine ROLLBACK

### 反向查询

下面是反向查询的示例，反向查询是指从没有relationship逻辑字段的表开始查询：

In [9]:
# 查询所有班级中的所有学生，学生表中有relationship，并且它的backref为have_student，所以我们可以通过班级.have_student来获取所有学生记录
# 另外，对于班级来说，学生可以有多个，所以have_student应当是一个序列
classes_lst = session.query(
    ClassesInfo
).all()
for row in classes_lst:
    print("class name :", row.name)
    for student in row.have_student:
        print("student name :", student.name)
# class name : one year one class
#      student name : Jack
#      student name : Anna
# class name : one year two class
#      student name : Tom
# class name : one year three class
#      student name : Mary
#      student name : Bobby
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2023-11-23 05:11:47,798 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-23 05:11:47,800 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
2023-11-23 05:11:47,801 INFO sqlalchemy.engine.Engine [generated in 0.00075s] {}
class name : one year one class
2023-11-23 05:11:47,817 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE %(param_1)s = "studentsInfo".fk_class_id
2023-11-23 05:11:47,818 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {'param_1': 1}
student name : Tom
student name : Anna
class name : one year two class
2023-11-23 05:11:47,825 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE %(param_1)s = "studentsInfo".fk_class_id
2023-11-23 05:11:47,826 INFO sqlalchemy.engine.Engine [cached since 0.008421s ago] {'param_1': 2}
student name : Jack
student name : Bobby
class name : one year three class
2023-11-23 05:11:47,827 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE %(param_1)s = "studentsInfo".fk_class_id
2023-11-23 05:11:47,828 INFO sqlalchemy.engine.Engine [cached since 0.01058s ago] {'param_1': 3}
student name : Mary
2023-11-23 05:11:47,829 INFO sqlalchemy.engine.Engine ROLLBACK

总结，正向查询的逻辑字段总是得到一个对象，反向查询的逻辑字段总是得到一个列表。

反向方法

使用逻辑字段relationship可以直接对一些跨表记录进行增删改查。

由于逻辑字段是一个类似于列表的存在（仅限于反向查询，正向查询总是得到一个对象），所以列表的绝大多数方法都能用。

<class 'sqlalchemy.orm.collections.InstrumentedList'>
    - append()
    - clear()
    - copy()
    - count()
    - extend()
    - index()
    - insert()
    - pop()
    - remove()
    - reverse()
    - sort()
下面不再进行实机演示，因为我们上面的几张表中做了很多约束。

In [10]:
# 一下代码只是举例，运行时不会成功 


# 比如
# 给老师增加班级
result = session.query(Teachers).first()
# extend方法：
result.re_class.extend([
    Classes(name="三年级一班",),
    Classes(name="三年级二班",),
])
# 比如
# 减少老师所在的班级
result = session.query(Teachers).first()
# 待删除的班级对象,集合查找比较快
delete_class_set = {
    session.query(Classes).filter_by(id=7).first(),
    session.query(Classes).filter_by(id=8).first(),
}
# 循换老师所在的班级
# remove方法：
for class_obj in result.re_class:
    if class_obj in delete_class_set:
        result.re_class.remove(class_obj)
# 比如
# 清空老师所任教的所有班级
# 拿出一个老师
result = session.query(Teachers).first()
result.re_class.clear()

NameError: name 'Teachers' is not defined

## 查询案例

（1）查看每个班级共有多少学生：

In [11]:
#JOIN查询：

# 获取链接池、ORM表对象
from sqlalchemy import func
result = session.query(
    ClassesInfo.name,
    func.count(StudentsInfo.id)
).join(
    StudentsInfo,
    ClassesInfo.id == StudentsInfo.fk_class_id
).group_by(
    ClassesInfo.id
).all()
print(result)
# [('one year one class', 2), ('one year two class', 2), ('one year three class', 1)]
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2023-11-23 05:15:29,819 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-23 05:15:29,821 INFO sqlalchemy.engine.Engine SELECT "classesInfo".name AS "classesInfo_name", count("studentsInfo".id) AS count_1
FROM "classesInfo" JOIN "studentsInfo" ON "classesInfo".id = "studentsInfo".fk_class_id GROUP BY "classesInfo".id
2023-11-23 05:15:29,821 INFO sqlalchemy.engine.Engine [generated in 0.00065s] {}
[('one year two class', 2), ('one year one class', 2), ('one year three class', 1)]
2023-11-23 05:15:29,848 INFO sqlalchemy.engine.Engine ROLLBACK

In [12]:
#正反查询：
result = {}
class_lst = session.query(
    ClassesInfo
).all()
for row in class_lst:
    for student in row.have_student:
        count = result.setdefault(row.name, 0)
        result[row.name] = count + 1
print(result.items())
# dict_items([('one year one class', 2), ('one year two class', 2), ('one year three class', 1)])
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2023-11-23 05:15:31,938 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-23 05:15:31,939 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
2023-11-23 05:15:31,940 INFO sqlalchemy.engine.Engine [cached since 224.1s ago] {}
2023-11-23 05:15:31,955 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE %(param_1)s = "studentsInfo".fk_class_id
2023-11-23 05:15:31,956 INFO sqlalchemy.engine.Engine [cached since 224.1s ago] {'param_1': 1}
2023-11-23 05:15:31,963 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE %(param_1)s = "studentsInfo".fk_class_id
2023-11-23 05:15:31,963 INFO sqlalchemy.engine.Engine [cached since 224.1s ago] {'param_1': 2}
2023-11-23 05:15:31,964 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE %(param_1)s = "studentsInfo".fk_class_id
2023-11-23 05:15:31,965 INFO sqlalchemy.engine.Engine [cached since 224.1s ago] {'param_1': 3}
dict_items([('one year one class', 2), ('one year two class', 2), ('one year three class', 1)])
2023-11-23 05:15:31,966 INFO sqlalchemy.engine.Engine ROLLBACK

（2）查看每个学生的入学、毕业年份以及所在的班级名称：

In [13]:
#JOIN查询：
result = session.query(
    StudentsNumberInfo.number,
    StudentsInfo.name,
    ClassesInfo.name,
    StudentsNumberInfo.admission,
    StudentsNumberInfo.graduation
).join(
    StudentsInfo,
    StudentsInfo.fk_class_id == ClassesInfo.id
).join(
    StudentsNumberInfo,
    StudentsNumberInfo.id == StudentsInfo.fk_student_id
).order_by(
    StudentsNumberInfo.number.asc()
).all()
print(result)
# [
#     (160101, 'Tom', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160102, 'Anna', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160201, 'Jack', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160202, 'Bobby', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160301, 'Mary', 'one year three class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15))
# ]
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2023-11-23 05:15:34,187 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-23 05:15:34,188 INFO sqlalchemy.engine.Engine SELECT "studentsNumberInfo".number AS "studentsNumberInfo_number", "studentsInfo".name AS "studentsInfo_name", "classesInfo".name AS "classesInfo_name", "studentsNumberInfo".admission AS "studentsNumberInfo_admission", "studentsNumberInfo".graduation AS "studentsNumberInfo_graduation"
FROM "classesInfo" JOIN "studentsInfo" ON "studentsInfo".fk_class_id = "classesInfo".id JOIN "studentsNumberInfo" ON "studentsNumberInfo".id = "studentsInfo".fk_student_id ORDER BY "studentsNumberInfo".number ASC
2023-11-23 05:15:34,189 INFO sqlalchemy.engine.Engine [generated in 0.00064s] {}
[(160101, 'Tom', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160102, 'Anna', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160201, 'Jack', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160202, 'Bobby', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160301, 'Mary', 'one year three class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15))]
2023-11-23 05:15:34,219 INFO sqlalchemy.engine.Engine ROLLBACK

In [14]:
#正反查询：
result = []
student_lst = session.query(
    StudentsInfo
).all()
for row in student_lst:
    result.append((
        row.number_info.number,
        row.name,
        row.from_class.name,
        row.number_info.admission,
        row.number_info.graduation
    ))
print(result)
# [
#     (160101, 'Tom', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160102, 'Anna', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160201, 'Jack', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160202, 'Bobby', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160301, 'Mary', 'one year three class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15))
# ]
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2023-11-23 05:15:36,617 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-23 05:15:36,618 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
2023-11-23 05:15:36,619 INFO sqlalchemy.engine.Engine [cached since 231.6s ago] {}
2023-11-23 05:15:36,628 INFO sqlalchemy.engine.Engine SELECT "studentsNumberInfo".id AS "studentsNumberInfo_id", "studentsNumberInfo".number AS "studentsNumberInfo_number", "studentsNumberInfo".admission AS "studentsNumberInfo_admission", "studentsNumberInfo".graduation AS "studentsNumberInfo_graduation"
FROM "studentsNumberInfo"
WHERE "studentsNumberInfo".id = %(pk_1)s
2023-11-23 05:15:36,629 INFO sqlalchemy.engine.Engine [generated in 0.00068s] {'pk_1': 1}
2023-11-23 05:15:36,638 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
WHERE "classesInfo".id = %(pk_1)s
2023-11-23 05:15:36,639 INFO sqlalchemy.engine.Engine [cached since 231.6s ago] {'pk_1': 2}
2023-11-23 05:15:36,653 INFO sqlalchemy.engine.Engine SELECT "studentsNumberInfo".id AS "studentsNumberInfo_id", "studentsNumberInfo".number AS "studentsNumberInfo_number", "studentsNumberInfo".admission AS "studentsNumberInfo_admission", "studentsNumberInfo".graduation AS "studentsNumberInfo_graduation"
FROM "studentsNumberInfo"
WHERE "studentsNumberInfo".id = %(pk_1)s
2023-11-23 05:15:36,654 INFO sqlalchemy.engine.Engine [cached since 0.02585s ago] {'pk_1': 2}
2023-11-23 05:15:36,655 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
WHERE "classesInfo".id = %(pk_1)s
2023-11-23 05:15:36,656 INFO sqlalchemy.engine.Engine [cached since 231.6s ago] {'pk_1': 1}
2023-11-23 05:15:36,658 INFO sqlalchemy.engine.Engine SELECT "studentsNumberInfo".id AS "studentsNumberInfo_id", "studentsNumberInfo".number AS "studentsNumberInfo_number", "studentsNumberInfo".admission AS "studentsNumberInfo_admission", "studentsNumberInfo".graduation AS "studentsNumberInfo_graduation"
FROM "studentsNumberInfo"
WHERE "studentsNumberInfo".id = %(pk_1)s
2023-11-23 05:15:36,658 INFO sqlalchemy.engine.Engine [cached since 0.03031s ago] {'pk_1': 3}
2023-11-23 05:15:36,660 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
WHERE "classesInfo".id = %(pk_1)s
2023-11-23 05:15:36,661 INFO sqlalchemy.engine.Engine [cached since 231.6s ago] {'pk_1': 3}
2023-11-23 05:15:36,662 INFO sqlalchemy.engine.Engine SELECT "studentsNumberInfo".id AS "studentsNumberInfo_id", "studentsNumberInfo".number AS "studentsNumberInfo_number", "studentsNumberInfo".admission AS "studentsNumberInfo_admission", "studentsNumberInfo".graduation AS "studentsNumberInfo_graduation"
FROM "studentsNumberInfo"
WHERE "studentsNumberInfo".id = %(pk_1)s
2023-11-23 05:15:36,663 INFO sqlalchemy.engine.Engine [cached since 0.03461s ago] {'pk_1': 4}
2023-11-23 05:15:36,664 INFO sqlalchemy.engine.Engine SELECT "studentsNumberInfo".id AS "studentsNumberInfo_id", "studentsNumberInfo".number AS "studentsNumberInfo_number", "studentsNumberInfo".admission AS "studentsNumberInfo_admission", "studentsNumberInfo".graduation AS "studentsNumberInfo_graduation"
FROM "studentsNumberInfo"
WHERE "studentsNumberInfo".id = %(pk_1)s
2023-11-23 05:15:36,665 INFO sqlalchemy.engine.Engine [cached since 0.03677s ago] {'pk_1': 6}
[(160201, 'Jack', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160101, 'Tom', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160301, 'Mary', 'one year three class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160102, 'Anna', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160202, 'Bobby', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15))]
2023-11-23 05:15:36,667 INFO sqlalchemy.engine.Engine ROLLBACK

3）查看David所教授的学生中年龄最小的学生：

#### 练习1：

In [44]:
# todo
#JOIN查询
# [('David', 'Mary', 16, 'one year three class')]
# Session = sessionmaker(bind=engine)
# session = scoped_session(Session)
# result = (
#     session.query(
#         TeachersInfo.name,
#         StudentsInfo.name,
#         StudentsInfo.age,
#         ClassesInfo.name
#     ).join(
#         ClassesAndTeachersRelationship,
#         ClassesAndTeachersRelationship.fk_teacher_id == TeachersInfo.id
#     ).join(
#         ClassesInfo,
#         ClassesInfo.id == ClassesAndTeachersRelationship.id
#     ).join(
#         StudentsInfo,
#         StudentsInfo.fk_class_id == ClassesInfo.id
#     ).filter(
#         TeachersInfo.name == "David"
#     ).order_by(
#         StudentsInfo.age
#     ).limit(1)
# )
# print(result[0])
# session.close()
from sqlalchemy import func

# 获取 David 教授的班级和最小年龄的学生
david_classes = (
    session.query(ClassesInfo)
    .join(ClassesAndTeachersRelationship)
    .join(TeachersInfo)
    .filter(TeachersInfo.name == "David")
    .all()
)

if david_classes:
    for class_info in david_classes:
        # 找到班级中最小年龄的学生
        youngest_student = (
            session.query(StudentsInfo)
            .filter(StudentsInfo.fk_class_id == class_info.id)
            .order_by(StudentsInfo.age)
            .first()
        )

        if youngest_student:
            print(class_info.name， youngest_student.name, youngest_student.age)

2023-11-23 06:04:02,089 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo" JOIN "classesAndTeachersRelationship" ON "classesInfo".id = "classesAndTeachersRelationship".fk_class_id JOIN "teachersInfo" ON "teachersInfo".id = "classesAndTeachersRelationship".fk_teacher_id
WHERE "teachersInfo".name = %(name_1)s
2023-11-23 06:04:02,090 INFO sqlalchemy.engine.Engine [cached since 2301s ago] {'name_1': 'David'}
2023-11-23 06:04:02,093 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE "studentsInfo".fk_class_id = %(fk_class_id_1)s ORDER BY "studentsInfo".age
 LIMIT %(param_1)s
2023-11-23 06:04:02,094 INFO sqlalchemy.engine.Engine [cached since 2301s ago] {'fk_class_id_1': 1, 'param_1': 1}
David所教授的班级 one year one class 中年龄最小的学生是: Anna, 年龄: 17
2023-11-23 06:04:02,096 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE "studentsInfo".fk_class_id = %(fk_class_id_1)s ORDER BY "studentsInfo".age
 LIMIT %(param_1)s
2023-11-23 06:04:02,097 INFO sqlalchemy.engine.Engine [cached since 2301s ago] {'fk_class_id_1': 2, 'param_1': 1}
David所教授的班级 one year two class 中年龄最小的学生是: Jack, 年龄: 17
2023-11-23 06:04:02,098 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE "studentsInfo".fk_class_id = %(fk_class_id_1)s ORDER BY "studentsInfo".age
 LIMIT %(param_1)s
2023-11-23 06:04:02,099 INFO sqlalchemy.engine.Engine [cached since 2301s ago] {'fk_class_id_1': 3, 'param_1': 1}
David所教授的班级 one year three class 中年龄最小的学生是: Mary, 年龄: 16

#### 练习2:

In [38]:
#正反查询：
# ('David', 'Mary', 16, 'one year three class')
result = {}
# 查询 David 教授的信息
david_list = session.query(TeachersInfo).filter_by(name="David").all()

if david_list:
    for david in david_list:
        # 使用正向查询获取 David 教授的班级
        david_courses = david.mid  

        if david_courses:
            for course in david_courses:
                class_info = course.mid_to_class
                # 使用反向查询获取班级中的学生，并按年龄升序排序
                students_in_class = session.query(StudentsInfo).join(
                    ClassesInfo,
                    StudentsInfo.fk_class_id == ClassesInfo.id
                ).filter(
                    ClassesInfo.id == class_info.id  # 使用 class_info.id 进行过滤
                ).order_by(StudentsInfo.age.asc()).all()

                if students_in_class:
                    youngest_student = students_in_class[0]
                    print(class_info.name, youngest_student.name, youngest_student.age)

2023-11-23 05:54:30,200 INFO sqlalchemy.engine.Engine SELECT "teachersInfo".id AS "teachersInfo_id", "teachersInfo".number AS "teachersInfo_number", "teachersInfo".name AS "teachersInfo_name", "teachersInfo".gender AS "teachersInfo_gender", "teachersInfo".age AS "teachersInfo_age"
FROM "teachersInfo"
WHERE "teachersInfo".name = %(name_1)s
2023-11-23 05:54:30,201 INFO sqlalchemy.engine.Engine [cached since 202.7s ago] {'name_1': 'David'}
2023-11-23 05:54:30,204 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo" JOIN "classesInfo" ON "studentsInfo".fk_class_id = "classesInfo".id
WHERE "classesInfo".id = %(id_1)s ORDER BY "studentsInfo".age ASC
2023-11-23 05:54:30,204 INFO sqlalchemy.engine.Engine [cached since 52.9s ago] {'id_1': 1}
one year one class Anna 17
2023-11-23 05:54:30,206 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo" JOIN "classesInfo" ON "studentsInfo".fk_class_id = "classesInfo".id
WHERE "classesInfo".id = %(id_1)s ORDER BY "studentsInfo".age ASC
2023-11-23 05:54:30,207 INFO sqlalchemy.engine.Engine [cached since 52.9s ago] {'id_1': 2}
one year two class Jack 17
2023-11-23 05:54:30,209 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo" JOIN "classesInfo" ON "studentsInfo".fk_class_id = "classesInfo".id
WHERE "classesInfo".id = %(id_1)s ORDER BY "studentsInfo".age ASC
2023-11-23 05:54:30,211 INFO sqlalchemy.engine.Engine [cached since 52.91s ago] {'id_1': 3}
one year three class Mary 16

4）查看每个班级的负责人是谁，以及任课老师都有谁：

#### 练习3:

In [40]:
# JOIN
# todo
# [('one year one class', 'David', 'Jason,David'), ('one year two class', 'Jason', 'David'), ('one year three class', 'Lisa', 'David,Lisa')]
from sqlalchemy.orm import joinedload

# 查询每个班级的负责人和任课老师
classes_info_list = (
    session.query(ClassesInfo)
    .options(
        joinedload(ClassesInfo.leader_teacher, innerjoin=True), 
        joinedload(ClassesInfo.mid, innerjoin=True)  
    )
    .all()
)

# 打印结果
for class_info in classes_info_list:
    print()
    print(f"班级名称: {class_info.name}")

    # 输出负责人信息
    if class_info.leader_teacher:
        print(f"  负责人: {class_info.leader_teacher.name}")

    # 输出任课老师信息
    if class_info.mid:
        print("  任课老师:")
        for relationship in class_info.mid:
            teacher = relationship.mid_to_teacher
            print(f"    {teacher.name}")

    print("=" * 30)

2023-11-23 05:58:52,213 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id", "teachersInfo_1".id AS "teachersInfo_1_id", "teachersInfo_1".number AS "teachersInfo_1_number", "teachersInfo_1".name AS "teachersInfo_1_name", "teachersInfo_1".gender AS "teachersInfo_1_gender", "teachersInfo_1".age AS "teachersInfo_1_age", "classesAndTeachersRelationship_1".id AS "classesAndTeachersRelationship_1_id", "classesAndTeachersRelationship_1".fk_teacher_id AS "classesAndTeachersRelationship_1_fk_teacher_id", "classesAndTeachersRelationship_1".fk_class_id AS "classesAndTeachersRelationship_1_fk_class_id"
FROM "classesInfo" JOIN "teachersInfo" AS "teachersInfo_1" ON "teachersInfo_1".id = "classesInfo".fk_teacher_id JOIN "classesAndTeachersRelationship" AS "classesAndTeachersRelationship_1" ON "classesInfo".id = "classesAndTeachersRelationship_1".fk_class_id
2023-11-23 05:58:52,214 INFO sqlalchemy.engine.Engine [generated in 0.00080s] {}
班级名称: one year one class
  负责人: David
  任课老师:
    David
    Jason
==============================
班级名称: one year two class
  负责人: Jason
  任课老师:
    David
==============================
班级名称: one year three class
  负责人: Lisa
  任课老师:
    David
    Lisa
==============================

#### 练习4

In [42]:
# 正反查询
# todo
# [('one year one class', 'David', 'Jason,David'), ('one year two class', 'Jason', 'David'), ('one year three class', 'Lisa', 'David,Lisa')]
result = []
class_list = session.query(ClassesInfo).all()

for class_info in class_list:
    leader_teacher = class_info.leader_teacher
    lecturers = [relationship.mid_to_teacher for relationship in class_info.mid]
    
    result.append({
        "班级名称": class_info.name,
        "负责人": leader_teacher.name if leader_teacher else "暂无负责人",
        "任课老师": [lecturer.name for lecturer in lecturers] if lecturers else ["暂无任课老师"]
    })

# 打印结果
for entry in result:
    print(f"班级名称: {entry['班级名称']}")
    print(f"  负责人: {entry['负责人']}")
    print(f"  任课老师: {', '.join(entry['任课老师'])}")
    print("=" * 30)

2023-11-23 06:02:22,651 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
2023-11-23 06:02:22,652 INFO sqlalchemy.engine.Engine [cached since 3035s ago] {}
班级名称: one year one class
  负责人: David
  任课老师: David, Jason
==============================
班级名称: one year two class
  负责人: Jason
  任课老师: David
==============================
班级名称: one year three class
  负责人: Lisa
  任课老师: David, Lisa
==============================

原生SQL

查看执行命令

如果一条查询语句是filter()结尾，则该对象的__str__方法会返回格式化后的查询语句：

In [43]:
print(
    session.query(StudentsInfo).filter()
)

SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"